.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  max-height: min((100vh - 96px) - 60px, 743px);
  min-height: 44px;
  padding-top: 8px;
  margin-left: 105px;
  margin-top: 5px;
}
